.clients {
    &__inner {
        background-color: var(--col-primary-000);
        color: var(--col-highlight);
        padding-block: 1rem;
    }
    &__slide {
        display: grid !important;
        place-content: center;
        height: 60px;
        img {
            max-height: 60px;
            max-width: 200px;
            filter: brightness(5) grayscale(1) brightness(50%);
        }
    }
}