.hero {
    margin-top: var(--h-top);
    top: var(--h-top);
    // width: 100%;
    @media (min-width:992px) {
        margin-top: 0;
        top:0;
        // width: calc(100vw - var(--nav-width));
    }
    background-size: cover;
    background-position: center;
    height: 400px;
    background-color: white;
    position: sticky;

    z-index: -10;
    isolation: isolate;
    display: grid;
    place-content: center;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     background-image: linear-gradient(90deg, var(--body-bg), transparent, var(--body-bg));
    //     z-index: -1;
    // }

    &__inner {
        max-width: 90vw;
        @media (min-width:992px) {
            // width: calc( 90vw - var(--nav-width) );
            max-width: 1320px;
        }
    }

    h1 {
        filter: drop-shadow(2px 4px 6px var(--col-primary-400));
    }
    &__pre,
    &__post {
        font-size: var(--fs-500);
    }
    &__title {
        font-size: var(--fs-900);
        padding-bottom: 0.5rem;
        line-height: 1.1;
    }
}