// .team {
//     &__card {
//         display: grid;
//         text-align: center;
//         img {
//             margin-bottom: 1rem;
//             margin-inline: auto;
//             aspect-ratio: 1;
//             width: 200px;
//             object-fit: cover;
//             object-position: center;
//         }
//     }
// }

.team {
    &__card {
        --_transition: 300ms;

        @media (min-width:992px) {
            width: 300px;
            height: 400px;
        }
        position: relative;
        isolation: isolate;
        border-radius: 1rem;
        margin-inline: auto;
    }
    &__inner {
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        @media (min-width:992px) {
            position: absolute;
            inset: 1rem;
        }
        > * {
            position: relative;
            @media (min-width:992px) {
                position: absolute;
            }
            border-radius: 1rem;
            padding: 1rem;
            inset: 0;
        }
    }
    &__front {
        z-index: 0;
        padding: 0;
        overflow: hidden;
        aspect-ratio: 3 / 4.2;
        width: 100%;
        margin-bottom: 1rem;
        max-width: 400px;
        margin-inline: auto;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            transition: transform calc(var(--_transition) * 1.5) ease-in-out;
        }
    }
    &__back {
        background-color: hsl( var(--hsl-primary-400) / 0.8);
        color: var(--col-highlight);
        max-width: 400px;
        margin-inline: auto;
        @media (min-width:992px) {
            transform: scaley(0);
        }
        transform-origin: bottom;
        z-index: 1;
        transition: transform var(--_transition) ease-in-out;
        display: grid;
        place-content: center;
    }
    &__cruft,
    &__cruft--alt {
        display: none;
        @media (min-width:992px) {
            display: block;
        }
        position: absolute;
        inset: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        background-color: var(--col-highlight);
        border: 1px solid var(--col-primary-900);
        transition: transform calc(var(--_transition) / 1.5) ease-in-out;
        z-index: -1;
    }
    // &__cruft--alt {
    //     background-color: #cccccc;
    //     z-index: -2;
    // }
    &__card:hover {
        .team__front {
            img {
                transform: scale(1.1);
            }
        }
        .team__back {
            transform: scaley(1);
        }
        .team__cruft {
            transform: rotate(-4deg);
        }
        .team__cruft--alt {
            transform: rotate(-8deg);
        }
    }

    &__title {
        font-size: var(--fs-500);
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
    &__role {
        font-size: var(--fs-100);
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    &__content {
        font-size: var(--fs-300);
        line-height: 1.2;
    }
}